h1{
  font-size: 65px;
  font-family: sans-serif;
  color: orange;
  text-align: center;
}
ul{
  background-color: palegreen;
  font-style: italic;
  line-height: 40px;
  text-decoration: underline;
}
.style-tags{
  background-color: paleturquoise;
}
p{
  font-weight: 600;
  font-size: 3em;
}
body{
  font-size: 16px;
}
#line-one{
  color: red;
}
#line-two{
  color: black;
}
#line-three{
  color: green;
}