h1,p{
  text-align: center;
}
li:hover{
  background-color: green;
  list-style: none;
}

li:active{
  color: aliceblue;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  list-style: none;
}
